
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  -webkit-transition: .4s;
  transition: .4s;  
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
	
}

input:checked + .slider {
  background-color: #555555;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #7f8c8d;
}

input:checked + .slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container{
  padding-top: 27px;
  padding-left:0px;
  background-color:white;
  width: 50px;
  height: 50px;
  position: fixed;
  top:200px;
  left:0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(173,173,173,0.94);
  -moz-box-shadow: 5px 5px 5px -4px rgba(173,173,173,0.94);
  box-shadow: 5px 5px 5px -4px rgba(173,173,173,0.94);
}