body {
  font-family: 'Source Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.mourn-ribbon {
  width: 80px;
  height: 124px;
}
.mourn-ribbon .ribbon-top {
  position: absolute;
  top: 9px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 26px;
  height: 20px;
  background: #000;
  border: 2px solid #FFF;
}
.mourn-ribbon .ribbon-wing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 110px;
}
.mourn-ribbon .ribbon-wing.ribbon-left {
  -webkit-transform: translate(-50%, -50%) rotate(-24deg);
  transform: translate(-50%, -50%) rotate(-24deg);
}
.mourn-ribbon .ribbon-wing.ribbon-right {
  -webkit-transform: translate(-50%, -50%) rotate(24deg);
  transform: translate(-50%, -50%) rotate(24deg);
}
.mourn-ribbon .ribbon-wing > div {
  position: absolute;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: black;
  text-overflow: clip;
}
.mourn-ribbon .ribbon-wing .ribbon-outside {
  top: 0;
  left: 0;
  height: 100px;
  border: 10px solid #FFF;
  border-top: 0 solid;
  border-bottom: 10px solid transparent;
}
.mourn-ribbon .ribbon-wing .ribbon-inside {
  top: 2px;
  left: 2px;
  height: 94px;
  border: 8px solid #000;
  border-top: 0 solid;
  border-bottom: 10px solid transparent;
}
.mourn-ribbon.small {
  width: 60px;
  height: 70px;
}
.mourn-ribbon.small .ribbon-top {
  top: 9px;
  width: 16px;
  height: 10px;
  border: 1px solid #FFF;
}
.mourn-ribbon.small .ribbon-wing {
  margin-left: -1px;
  width: 10px;
  height: 55px;
}
.mourn-ribbon.small .ribbon-wing.ribbon-left {
  margin-top: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(-30deg);
  transform: translate(-50%, -50%) rotate(-30deg);
}
.mourn-ribbon.small .ribbon-wing.ribbon-right {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.mourn-ribbon.small .ribbon-wing .ribbon-outside {
  height: 50px;
  border-width: 7px;
  border-color: rgba(255, 255, 255, 0.95);
  border-top: 0 solid;
  border-bottom: 5px solid transparent;
}
.mourn-ribbon.small .ribbon-wing .ribbon-inside {
  height: 40px;
  border-width: 5px;
  border-bottom: 5px solid transparent;
}