.mourn-ribbon {
  width: 80px;
  height: 124px; }
  .mourn-ribbon .ribbon-top {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 30px;
    height: 14px;
    background: #000;
    border: 2px solid #FFF; }
  .mourn-ribbon .ribbon-wing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 110px;
    margin-left: 1px; }
    .mourn-ribbon .ribbon-wing.ribbon-left {
      margin-top: -1px;
      -webkit-transform: translate(-50%, -50%) rotate(-24deg);
              transform: translate(-50%, -50%) rotate(-24deg); }
      .mourn-ribbon .ribbon-wing.ribbon-left .ribbon-outside .ribbon-content,
      .mourn-ribbon .ribbon-wing.ribbon-left .ribbon-inside .ribbon-content {
        border-top-left-radius: 20px; }
    .mourn-ribbon .ribbon-wing.ribbon-right {
      -webkit-transform: translate(-50%, -50%) rotate(24deg);
              transform: translate(-50%, -50%) rotate(24deg); }
      .mourn-ribbon .ribbon-wing.ribbon-right .ribbon-outside .ribbon-content,
      .mourn-ribbon .ribbon-wing.ribbon-right .ribbon-inside .ribbon-content {
        border-top-right-radius: 20px; }
      .mourn-ribbon .ribbon-wing.ribbon-right .ribbon-outside {
        height: 112px; }
        .mourn-ribbon .ribbon-wing.ribbon-right .ribbon-outside .ribbon-content {
          height: 92px; }
      .mourn-ribbon .ribbon-wing.ribbon-right .ribbon-inside {
        top: 4px; }
    .mourn-ribbon .ribbon-wing > div {
      position: absolute;
      font: normal 100%/normal Arial, Helvetica, sans-serif;
      color: black;
      text-overflow: clip; }
    .mourn-ribbon .ribbon-wing .ribbon-outside {
      top: 0;
      left: 0;
      height: 111px; }
      .mourn-ribbon .ribbon-wing .ribbon-outside .ribbon-content {
        height: 91px;
        background: #FFF; }
      .mourn-ribbon .ribbon-wing .ribbon-outside .ribbon-bottom {
        border: 8px solid #FFF;
        border-top: 0 solid;
        border-bottom: 10px solid transparent; }
    .mourn-ribbon .ribbon-wing .ribbon-inside {
      top: 3px;
      left: 2px;
      height: 104px; }
      .mourn-ribbon .ribbon-wing .ribbon-inside .ribbon-content {
        height: 83px;
        background: #000; }
      .mourn-ribbon .ribbon-wing .ribbon-inside .ribbon-bottom {
        border: 6px solid #000;
        border-top: 0 solid;
        border-bottom: 10px solid transparent; }
  .mourn-ribbon.small {
    width: 60px;
    height: 70px; }
    .mourn-ribbon.small .ribbon-top {
      top: 9px;
      width: 16px;
      height: 10px;
      border: 1px solid #FFF; }
    .mourn-ribbon.small .ribbon-wing {
      margin-left: -1px;
      width: 10px;
      height: 55px; }
      .mourn-ribbon.small .ribbon-wing.ribbon-left {
        margin-top: 2px;
        -webkit-transform: translate(-50%, -50%) rotate(-30deg);
                transform: translate(-50%, -50%) rotate(-30deg); }
      .mourn-ribbon.small .ribbon-wing.ribbon-right {
        -webkit-transform: translate(-50%, -50%) rotate(30deg);
                transform: translate(-50%, -50%) rotate(30deg); }
      .mourn-ribbon.small .ribbon-wing .ribbon-outside {
        height: 50px;
        border-width: 7px;
        border-color: rgba(255, 255, 255, 0.95);
        border-top: 0 solid;
        border-bottom: 5px solid transparent; }
      .mourn-ribbon.small .ribbon-wing .ribbon-inside {
        height: 40px;
        border-width: 5px;
        border-bottom: 5px solid transparent; }

.switch-container {
  position: fixed;
  top: 200px;
  right: 0;
  padding-top: 27px;
  padding-left: 0px;
  width: 70px;
  height: 70px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  /* The switch - the box around the slider */ }
  .switch-container .title {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-15px, -50%) rotate(-90deg);
            transform: translate(-15px, -50%) rotate(-90deg);
    font-size: 11px;
    text-transform: uppercase;
    color: #999; }
  .switch-container .switch {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-2px, -50%);
            transform: translate(-2px, -50%);
    display: inline-block;
    width: 50px;
    height: 28px;
    /* Hide default HTML checkbox */
    /* The slider */ }
    .switch-container .switch input {
      display: none; }
    .switch-container .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f45c42;
      -webkit-transition: .4s;
      transition: .4s;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      /* Rounded sliders */ }
      .switch-container .switch .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s; }
      .switch-container .switch .slider.round {
        border-radius: 34px; }
        .switch-container .switch .slider.round:before {
          border-radius: 50%; }
    .switch-container .switch input:checked + .slider {
      background-color: #666; }
    .switch-container .switch input:focus + .slider {
      box-shadow: 0 0 1px #7f8c8d; }
    .switch-container .switch input:checked + .slider:before {
      -webkit-transform: translateX(22px);
              transform: translateX(22px); }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1vdXJuLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFlBQVk7RUFDWixjQUFjLEVBQUU7RUFDaEI7SUFDRSxtQkFBbUI7SUFDbkIsVUFBVTtJQUNWLFVBQVU7SUFDVixzQ0FBOEI7WUFBOUIsOEJBQThCO0lBQzlCLFlBQVk7SUFDWixhQUFhO0lBQ2IsaUJBQWlCO0lBQ2pCLHVCQUF1QixFQUFFO0VBQzNCO0lBQ0UsbUJBQW1CO0lBQ25CLFNBQVM7SUFDVCxVQUFVO0lBQ1YsWUFBWTtJQUNaLGNBQWM7SUFDZCxpQkFBaUIsRUFBRTtJQUNuQjtNQUNFLGlCQUFpQjtNQUNqQix3REFBZ0Q7Y0FBaEQsZ0RBQWdELEVBQUU7TUFDbEQ7O1FBRUUsNkJBQTZCLEVBQUU7SUFDbkM7TUFDRSx1REFBK0M7Y0FBL0MsK0NBQStDLEVBQUU7TUFDakQ7O1FBRUUsOEJBQThCLEVBQUU7TUFDbEM7UUFDRSxjQUFjLEVBQUU7UUFDaEI7VUFDRSxhQUFhLEVBQUU7TUFDbkI7UUFDRSxTQUFTLEVBQUU7SUFDZjtNQUNFLG1CQUFtQjtNQUNuQixzREFBc0Q7TUFDdEQsYUFBYTtNQUNiLG9CQUFvQixFQUFFO0lBQ3hCO01BQ0UsT0FBTztNQUNQLFFBQVE7TUFDUixjQUFjLEVBQUU7TUFDaEI7UUFDRSxhQUFhO1FBQ2IsaUJBQWlCLEVBQUU7TUFDckI7UUFDRSx1QkFBdUI7UUFDdkIsb0JBQW9CO1FBQ3BCLHNDQUFzQyxFQUFFO0lBQzVDO01BQ0UsU0FBUztNQUNULFVBQVU7TUFDVixjQUFjLEVBQUU7TUFDaEI7UUFDRSxhQUFhO1FBQ2IsaUJBQWlCLEVBQUU7TUFDckI7UUFDRSx1QkFBdUI7UUFDdkIsb0JBQW9CO1FBQ3BCLHNDQUFzQyxFQUFFO0VBQzlDO0lBQ0UsWUFBWTtJQUNaLGFBQWEsRUFBRTtJQUNmO01BQ0UsU0FBUztNQUNULFlBQVk7TUFDWixhQUFhO01BQ2IsdUJBQXVCLEVBQUU7SUFDM0I7TUFDRSxrQkFBa0I7TUFDbEIsWUFBWTtNQUNaLGFBQWEsRUFBRTtNQUNmO1FBQ0UsZ0JBQWdCO1FBQ2hCLHdEQUFnRDtnQkFBaEQsZ0RBQWdELEVBQUU7TUFDcEQ7UUFDRSx1REFBK0M7Z0JBQS9DLCtDQUErQyxFQUFFO01BQ25EO1FBQ0UsYUFBYTtRQUNiLGtCQUFrQjtRQUNsQix3Q0FBd0M7UUFDeEMsb0JBQW9CO1FBQ3BCLHFDQUFxQyxFQUFFO01BQ3pDO1FBQ0UsYUFBYTtRQUNiLGtCQUFrQjtRQUNsQixxQ0FBcUMsRUFBRTs7QUFFL0M7RUFDRSxnQkFBZ0I7RUFDaEIsV0FBVztFQUNYLFNBQVM7RUFDVCxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixhQUFhO0VBQ2IsNkJBQTZCO0VBQzdCLGdDQUFnQztFQUNoQyxnREFBZ0Q7RUFDaEQsdUJBQXVCO0VBQ3ZCLDRDQUE0QyxFQUFFO0VBQzlDO0lBQ0UsbUJBQW1CO0lBQ25CLFNBQVM7SUFDVCxRQUFRO0lBQ1IseURBQWlEO1lBQWpELGlEQUFpRDtJQUNqRCxnQkFBZ0I7SUFDaEIsMEJBQTBCO0lBQzFCLFlBQVksRUFBRTtFQUNoQjtJQUNFLG1CQUFtQjtJQUNuQixTQUFTO0lBQ1QsU0FBUztJQUNULHlDQUFpQztZQUFqQyxpQ0FBaUM7SUFDakMsc0JBQXNCO0lBQ3RCLFlBQVk7SUFDWixhQUFhO0lBQ2IsZ0NBQWdDO0lBQ2hDLGdCQUFnQixFQUFFO0lBQ2xCO01BQ0UsY0FBYyxFQUFFO0lBQ2xCO01BQ0UsbUJBQW1CO01BQ25CLGdCQUFnQjtNQUNoQixPQUFPO01BQ1AsUUFBUTtNQUNSLFNBQVM7TUFDVCxVQUFVO01BQ1YsMEJBQTBCO01BQzFCLHdCQUFnQjtNQUFoQixnQkFBZ0I7TUFDaEIsaUNBQXlCO2NBQXpCLHlCQUF5QjtNQUN6QixxQkFBcUIsRUFBRTtNQUN2QjtRQUNFLG1CQUFtQjtRQUNuQixZQUFZO1FBQ1osYUFBYTtRQUNiLFlBQVk7UUFDWixVQUFVO1FBQ1YsWUFBWTtRQUNaLHdCQUF3QjtRQUN4Qix3QkFBZ0I7UUFBaEIsZ0JBQWdCLEVBQUU7TUFDcEI7UUFDRSxvQkFBb0IsRUFBRTtRQUN0QjtVQUNFLG1CQUFtQixFQUFFO0lBQzNCO01BQ0UsdUJBQXVCLEVBQUU7SUFDM0I7TUFDRSw0QkFBNEIsRUFBRTtJQUNoQztNQUNFLG9DQUE0QjtjQUE1Qiw0QkFBNEIsRUFBRSIsImZpbGUiOiJtb3Vybi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIubW91cm4tcmliYm9uIHtcbiAgd2lkdGg6IDgwcHg7XG4gIGhlaWdodDogMTI0cHg7IH1cbiAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXRvcCB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogMTBweDtcbiAgICBsZWZ0OiA1MCU7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgMCk7XG4gICAgd2lkdGg6IDMwcHg7XG4gICAgaGVpZ2h0OiAxNHB4O1xuICAgIGJhY2tncm91bmQ6ICMwMDA7XG4gICAgYm9yZGVyOiAycHggc29saWQgI0ZGRjsgfVxuICAubW91cm4tcmliYm9uIC5yaWJib24td2luZyB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogNTAlO1xuICAgIGxlZnQ6IDUwJTtcbiAgICB3aWR0aDogMjBweDtcbiAgICBoZWlnaHQ6IDExMHB4O1xuICAgIG1hcmdpbi1sZWZ0OiAxcHg7IH1cbiAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZy5yaWJib24tbGVmdCB7XG4gICAgICBtYXJnaW4tdG9wOiAtMXB4O1xuICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSkgcm90YXRlKC0yNGRlZyk7IH1cbiAgICAgIC5tb3Vybi1yaWJib24gLnJpYmJvbi13aW5nLnJpYmJvbi1sZWZ0IC5yaWJib24tb3V0c2lkZSAucmliYm9uLWNvbnRlbnQsXG4gICAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZy5yaWJib24tbGVmdCAucmliYm9uLWluc2lkZSAucmliYm9uLWNvbnRlbnQge1xuICAgICAgICBib3JkZXItdG9wLWxlZnQtcmFkaXVzOiAyMHB4OyB9XG4gICAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXdpbmcucmliYm9uLXJpZ2h0IHtcbiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsIC01MCUpIHJvdGF0ZSgyNGRlZyk7IH1cbiAgICAgIC5tb3Vybi1yaWJib24gLnJpYmJvbi13aW5nLnJpYmJvbi1yaWdodCAucmliYm9uLW91dHNpZGUgLnJpYmJvbi1jb250ZW50LFxuICAgICAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXdpbmcucmliYm9uLXJpZ2h0IC5yaWJib24taW5zaWRlIC5yaWJib24tY29udGVudCB7XG4gICAgICAgIGJvcmRlci10b3AtcmlnaHQtcmFkaXVzOiAyMHB4OyB9XG4gICAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZy5yaWJib24tcmlnaHQgLnJpYmJvbi1vdXRzaWRlIHtcbiAgICAgICAgaGVpZ2h0OiAxMTJweDsgfVxuICAgICAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZy5yaWJib24tcmlnaHQgLnJpYmJvbi1vdXRzaWRlIC5yaWJib24tY29udGVudCB7XG4gICAgICAgICAgaGVpZ2h0OiA5MnB4OyB9XG4gICAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZy5yaWJib24tcmlnaHQgLnJpYmJvbi1pbnNpZGUge1xuICAgICAgICB0b3A6IDRweDsgfVxuICAgIC5tb3Vybi1yaWJib24gLnJpYmJvbi13aW5nID4gZGl2IHtcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIGZvbnQ6IG5vcm1hbCAxMDAlL25vcm1hbCBBcmlhbCwgSGVsdmV0aWNhLCBzYW5zLXNlcmlmO1xuICAgICAgY29sb3I6IGJsYWNrO1xuICAgICAgdGV4dC1vdmVyZmxvdzogY2xpcDsgfVxuICAgIC5tb3Vybi1yaWJib24gLnJpYmJvbi13aW5nIC5yaWJib24tb3V0c2lkZSB7XG4gICAgICB0b3A6IDA7XG4gICAgICBsZWZ0OiAwO1xuICAgICAgaGVpZ2h0OiAxMTFweDsgfVxuICAgICAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXdpbmcgLnJpYmJvbi1vdXRzaWRlIC5yaWJib24tY29udGVudCB7XG4gICAgICAgIGhlaWdodDogOTFweDtcbiAgICAgICAgYmFja2dyb3VuZDogI0ZGRjsgfVxuICAgICAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXdpbmcgLnJpYmJvbi1vdXRzaWRlIC5yaWJib24tYm90dG9tIHtcbiAgICAgICAgYm9yZGVyOiA4cHggc29saWQgI0ZGRjtcbiAgICAgICAgYm9yZGVyLXRvcDogMCBzb2xpZDtcbiAgICAgICAgYm9yZGVyLWJvdHRvbTogMTBweCBzb2xpZCB0cmFuc3BhcmVudDsgfVxuICAgIC5tb3Vybi1yaWJib24gLnJpYmJvbi13aW5nIC5yaWJib24taW5zaWRlIHtcbiAgICAgIHRvcDogM3B4O1xuICAgICAgbGVmdDogMnB4O1xuICAgICAgaGVpZ2h0OiAxMDRweDsgfVxuICAgICAgLm1vdXJuLXJpYmJvbiAucmliYm9uLXdpbmcgLnJpYmJvbi1pbnNpZGUgLnJpYmJvbi1jb250ZW50IHtcbiAgICAgICAgaGVpZ2h0OiA4M3B4O1xuICAgICAgICBiYWNrZ3JvdW5kOiAjMDAwOyB9XG4gICAgICAubW91cm4tcmliYm9uIC5yaWJib24td2luZyAucmliYm9uLWluc2lkZSAucmliYm9uLWJvdHRvbSB7XG4gICAgICAgIGJvcmRlcjogNnB4IHNvbGlkICMwMDA7XG4gICAgICAgIGJvcmRlci10b3A6IDAgc29saWQ7XG4gICAgICAgIGJvcmRlci1ib3R0b206IDEwcHggc29saWQgdHJhbnNwYXJlbnQ7IH1cbiAgLm1vdXJuLXJpYmJvbi5zbWFsbCB7XG4gICAgd2lkdGg6IDYwcHg7XG4gICAgaGVpZ2h0OiA3MHB4OyB9XG4gICAgLm1vdXJuLXJpYmJvbi5zbWFsbCAucmliYm9uLXRvcCB7XG4gICAgICB0b3A6IDlweDtcbiAgICAgIHdpZHRoOiAxNnB4O1xuICAgICAgaGVpZ2h0OiAxMHB4O1xuICAgICAgYm9yZGVyOiAxcHggc29saWQgI0ZGRjsgfVxuICAgIC5tb3Vybi1yaWJib24uc21hbGwgLnJpYmJvbi13aW5nIHtcbiAgICAgIG1hcmdpbi1sZWZ0OiAtMXB4O1xuICAgICAgd2lkdGg6IDEwcHg7XG4gICAgICBoZWlnaHQ6IDU1cHg7IH1cbiAgICAgIC5tb3Vybi1yaWJib24uc21hbGwgLnJpYmJvbi13aW5nLnJpYmJvbi1sZWZ0IHtcbiAgICAgICAgbWFyZ2luLXRvcDogMnB4O1xuICAgICAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgtNTAlLCAtNTAlKSByb3RhdGUoLTMwZGVnKTsgfVxuICAgICAgLm1vdXJuLXJpYmJvbi5zbWFsbCAucmliYm9uLXdpbmcucmliYm9uLXJpZ2h0IHtcbiAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSkgcm90YXRlKDMwZGVnKTsgfVxuICAgICAgLm1vdXJuLXJpYmJvbi5zbWFsbCAucmliYm9uLXdpbmcgLnJpYmJvbi1vdXRzaWRlIHtcbiAgICAgICAgaGVpZ2h0OiA1MHB4O1xuICAgICAgICBib3JkZXItd2lkdGg6IDdweDtcbiAgICAgICAgYm9yZGVyLWNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOTUpO1xuICAgICAgICBib3JkZXItdG9wOiAwIHNvbGlkO1xuICAgICAgICBib3JkZXItYm90dG9tOiA1cHggc29saWQgdHJhbnNwYXJlbnQ7IH1cbiAgICAgIC5tb3Vybi1yaWJib24uc21hbGwgLnJpYmJvbi13aW5nIC5yaWJib24taW5zaWRlIHtcbiAgICAgICAgaGVpZ2h0OiA0MHB4O1xuICAgICAgICBib3JkZXItd2lkdGg6IDVweDtcbiAgICAgICAgYm9yZGVyLWJvdHRvbTogNXB4IHNvbGlkIHRyYW5zcGFyZW50OyB9XG5cbi5zd2l0Y2gtY29udGFpbmVyIHtcbiAgcG9zaXRpb246IGZpeGVkO1xuICB0b3A6IDIwMHB4O1xuICByaWdodDogMDtcbiAgcGFkZGluZy10b3A6IDI3cHg7XG4gIHBhZGRpbmctbGVmdDogMHB4O1xuICB3aWR0aDogNzBweDtcbiAgaGVpZ2h0OiA3MHB4O1xuICBib3JkZXItdG9wLXJpZ2h0LXJhZGl1czogNHB4O1xuICBib3JkZXItYm90dG9tLXJpZ2h0LXJhZGl1czogNHB4O1xuICBib3gtc2hhZG93OiAwcHggMHB4IDEwcHggMHB4IHJnYmEoMCwgMCwgMCwgMC4yKTtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRjtcbiAgLyogVGhlIHN3aXRjaCAtIHRoZSBib3ggYXJvdW5kIHRoZSBzbGlkZXIgKi8gfVxuICAuc3dpdGNoLWNvbnRhaW5lciAudGl0bGUge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDUwJTtcbiAgICBsZWZ0OiAwO1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlKC0xNXB4LCAtNTAlKSByb3RhdGUoLTkwZGVnKTtcbiAgICBmb250LXNpemU6IDExcHg7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBjb2xvcjogIzk5OTsgfVxuICAuc3dpdGNoLWNvbnRhaW5lciAuc3dpdGNoIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA1MCU7XG4gICAgcmlnaHQ6IDA7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTJweCwgLTUwJSk7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiA1MHB4O1xuICAgIGhlaWdodDogMjhweDtcbiAgICAvKiBIaWRlIGRlZmF1bHQgSFRNTCBjaGVja2JveCAqL1xuICAgIC8qIFRoZSBzbGlkZXIgKi8gfVxuICAgIC5zd2l0Y2gtY29udGFpbmVyIC5zd2l0Y2ggaW5wdXQge1xuICAgICAgZGlzcGxheTogbm9uZTsgfVxuICAgIC5zd2l0Y2gtY29udGFpbmVyIC5zd2l0Y2ggLnNsaWRlciB7XG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgICB0b3A6IDA7XG4gICAgICBsZWZ0OiAwO1xuICAgICAgcmlnaHQ6IDA7XG4gICAgICBib3R0b206IDA7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjQ1YzQyO1xuICAgICAgdHJhbnNpdGlvbjogLjRzO1xuICAgICAgdHJhbnNmb3JtOiByb3RhdGUoOTBkZWcpO1xuICAgICAgLyogUm91bmRlZCBzbGlkZXJzICovIH1cbiAgICAgIC5zd2l0Y2gtY29udGFpbmVyIC5zd2l0Y2ggLnNsaWRlcjpiZWZvcmUge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIGNvbnRlbnQ6IFwiXCI7XG4gICAgICAgIGhlaWdodDogMjBweDtcbiAgICAgICAgd2lkdGg6IDIwcHg7XG4gICAgICAgIGxlZnQ6IDRweDtcbiAgICAgICAgYm90dG9tOiA0cHg7XG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICAgICAgICB0cmFuc2l0aW9uOiAuNHM7IH1cbiAgICAgIC5zd2l0Y2gtY29udGFpbmVyIC5zd2l0Y2ggLnNsaWRlci5yb3VuZCB7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDM0cHg7IH1cbiAgICAgICAgLnN3aXRjaC1jb250YWluZXIgLnN3aXRjaCAuc2xpZGVyLnJvdW5kOmJlZm9yZSB7XG4gICAgICAgICAgYm9yZGVyLXJhZGl1czogNTAlOyB9XG4gICAgLnN3aXRjaC1jb250YWluZXIgLnN3aXRjaCBpbnB1dDpjaGVja2VkICsgLnNsaWRlciB7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNjY2OyB9XG4gICAgLnN3aXRjaC1jb250YWluZXIgLnN3aXRjaCBpbnB1dDpmb2N1cyArIC5zbGlkZXIge1xuICAgICAgYm94LXNoYWRvdzogMCAwIDFweCAjN2Y4YzhkOyB9XG4gICAgLnN3aXRjaC1jb250YWluZXIgLnN3aXRjaCBpbnB1dDpjaGVja2VkICsgLnNsaWRlcjpiZWZvcmUge1xuICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVYKDIycHgpOyB9XG4iXX0= */
