$white: #FFF;
$black: #000;

.mourn-ribbon{
  width: 80px;
  height: 124px;

  .ribbon-top{
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 14px;
    background: $black;
    border: 2px solid $white;
  }

  .ribbon-wing{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 110px;
    margin-left: 1px;

    &.ribbon-left{
      margin-top: -1px;
      transform: translate(-50%, -50%) rotate(-24deg);

      .ribbon-outside .ribbon-content,
      .ribbon-inside .ribbon-content{
        border-top-left-radius: 20px;
      }
    }

    &.ribbon-right{
      transform: translate(-50%, -50%) rotate(24deg);

      .ribbon-outside .ribbon-content,
      .ribbon-inside .ribbon-content{
        border-top-right-radius: 20px;
      }

      .ribbon-outside{
        height: 112px;

        .ribbon-content{
          height: 92px;
        }
      }

      .ribbon-inside{
        top: 4px;
      }
    }

    > div{
      position: absolute;
      font: normal 100%/normal Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,1);
      text-overflow: clip;
    }

    .ribbon-outside{
      top: 0;
      left: 0;
      height: 111px;

      .ribbon-content{
        height: 91px;
        background: $white;
      }

      .ribbon-bottom{
        border: 8px solid $white;
        border-top: 0 solid;
        border-bottom: 10px solid rgba(0, 0, 0, 0);
      }
    }

    .ribbon-inside{
      top: 3px;
      left: 2px;
      height: 104px;

      .ribbon-content{
        height: 83px;
        background: $black;
      }

      .ribbon-bottom{
        border: 6px solid $black;
        border-top: 0 solid;
        border-bottom: 10px solid rgba(0, 0, 0, 0);
      }
    }
  }

  &.small{
    width: 60px;
    height: 70px;

    .ribbon-top{
      top: 9px;
      width: 16px;
      height: 10px;
      border: 1px solid $white;
    }

    .ribbon-wing{
      margin-left: -1px;
      width: 10px;
      height: 55px;

      &.ribbon-left{
        margin-top: 2px;
        transform: translate(-50%, -50%) rotate(-30deg);
      }

      &.ribbon-right{
        transform: translate(-50%, -50%) rotate(30deg);
      }

      .ribbon-outside{
        height: 50px;
        border-width: 7px;
        border-color: rgba(255, 255, 255, 0.95);
        border-top: 0 solid;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
      }

      .ribbon-inside{
        height: 40px;
        border-width: 5px;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
      }
    }
  }
}
